<!-- Conditionally render landing page content if not logged in -->
<main class='leaves-bg'>
  {{#unless logged_in}}

    <!-- Add a banner image within the landing page section -->
    <section class='landing-page'>

      <div class='landing-page-content'>
        <h2>Ready to share your thoughts with the tech community? </h2>
        <a href='/signup' id='signup-link'>Start Here!</a>
      </div>
    </section>

  {{/unless}}

  <div class='posts-container container text-center'>
    {{#if logged_in}}
      {{#each userPosts}}
        <div class='post card' style="margin: 30px;">
          <!-- Adjusted flex-basis to reduce outer container width -->
          <div>
            <div>
              <h2 class='card-body col col-lg-2'>
                <a href='/posts/{{id}}'>{{name}}</a>
              </h2>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</main>