<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Welcome to the Landing Page
    </h1>
  </header>
  {{#if logged_in}}
    <nav>
       <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
      <button class="btn" id="logout">logout</button>
      {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>
    {{/if}}
  
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>