<main id="page5" class='container container-fluid'>
    <div style="border: 2px solid black; padding: 15px; width: 80%; margin: 0 auto; background-color: white; display: flex; align-items: flex-start;">
    
    <!-- Title and post content on the Right -->
    <div style="flex: 2; display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 style="margin: 0;">{{name}}</h2>
            <p style="margin: 0; font-size: 14px;">Added on {{format_date date_created}}</p>
        </div>
        <div class="text-left" style="padding-top: 15px;">
            <p>{{post_content}}</p>
        </div>
    </div>
</div>
</main>